<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fx67ll.lottery.mapper.Fx67llLotteryLogMapper">

    <resultMap type="Fx67llLotteryLog" id="Fx67llLotteryLogResult">
        <result property="lotteryId" column="lottery_id"/>
        <result property="dateCode" column="date_code"/>
        <result property="recordNumber" column="record_number"/>
        <result property="chaseNumber" column="chase_number"/>
        <result property="winningNumber" column="winning_number"/>
        <result property="isWin" column="is_win"/>
        <result property="winningPrice" column="winning_price"/>
        <result property="numberType" column="number_type"/>
        <result property="weekType" column="week_type"/>
        <result property="hasMorePurchases" column="has_more_purchases"/>
        <result property="delFlag" column="del_flag"/>
        <result property="userId" column="user_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectFx67llLotteryLogVo">
        select lottery_id,
               date_code,
               record_number,
               chase_number,
               winning_number,
               is_win,
               winning_price,
               number_type,
               week_type,
               has_more_purchases,
               del_flag,
               user_id,
               create_by,
               create_time,
               update_by,
               update_time
        from fx67ll_lottery_log
    </sql>

    <select id="selectFx67llLotteryLogList" parameterType="Fx67llLotteryLog" resultMap="Fx67llLotteryLogResult">
        <include refid="selectFx67llLotteryLogVo"/>
        <where>
            <if test="dateCode != null  and dateCode != ''">and date_code = #{dateCode}</if>
            <if test="recordNumber != null  and recordNumber != ''">and record_number = #{recordNumber}</if>
            <if test="chaseNumber != null  and chaseNumber != ''">and chase_number = #{chaseNumber}</if>
            <if test="winningNumber != null  and winningNumber != ''">and winning_number = #{winningNumber}</if>
            <if test="isWin != null  and isWin != ''">and is_win = #{isWin}</if>
            <if test="winningPrice != null  and winningPrice != ''">and winning_price = #{winningPrice}</if>
            <if test="numberType != null ">and number_type = #{numberType}</if>
            <if test="weekType != null ">and week_type = #{weekType}</if>
            <if test="hasMorePurchases != null  and hasMorePurchases != ''">and has_more_purchases =
                #{hasMorePurchases}
            </if>
            <if test="delFlag != null  and delFlag != ''">and del_flag = #{delFlag}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="createBy != null  and createBy != ''">and create_by = #{createBy}</if>
            <if test="beginCreateTime != null and endCreateTime != ''">and create_time between #{beginCreateTime} and
                #{endCreateTime}
            </if>
            <if test="updateBy != null  and updateBy != ''">and update_by = #{updateBy}</if>
            <if test="beginUpdateTime != null and endUpdateTime != ''">and update_time between #{beginUpdateTime} and
                #{endUpdateTime}
            </if>
        </where>
        order by STR_TO_DATE(create_time, "%Y-%m-%d %H:%i:%s") desc
    </select>

    <select id="selectFx67llLotteryLogByLotteryId" parameterType="Long" resultMap="Fx67llLotteryLogResult">
        <include refid="selectFx67llLotteryLogVo"/>
        where lottery_id = #{lotteryId}
    </select>

    <!--暂时不需要-->
    <select id="selectFx67llLotteryLogListByUserId" parameterType="Long" resultMap="Fx67llLotteryLogResult">
        <include refid="selectFx67llLotteryLogVo"/>
        where user_id = #{userId}
        order by STR_TO_DATE(create_time, "%Y-%m-%d %H:%i:%s") desc
    </select>

    <insert id="insertFx67llLotteryLog" parameterType="Fx67llLotteryLog" useGeneratedKeys="true"
            keyProperty="lotteryId">
        insert into fx67ll_lottery_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dateCode != null and dateCode != ''">date_code,</if>
            <if test="recordNumber != null and recordNumber != ''">record_number,</if>
            <if test="chaseNumber != null">chase_number,</if>
            <if test="winningNumber != null">winning_number,</if>
            <if test="isWin != null">is_win,</if>
            <if test="winningPrice != null">winning_price,</if>
            <if test="numberType != null">number_type,</if>
            <if test="weekType != null">week_type,</if>
            <if test="hasMorePurchases != null and hasMorePurchases != ''">has_more_purchases,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="userId != null">user_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dateCode != null and dateCode != ''">#{dateCode},</if>
            <if test="recordNumber != null and recordNumber != ''">#{recordNumber},</if>
            <if test="chaseNumber != null">#{chaseNumber},</if>
            <if test="winningNumber != null">#{winningNumber},</if>
            <if test="isWin != null">#{isWin},</if>
            <if test="winningPrice != null">#{winningPrice},</if>
            <if test="numberType != null">#{numberType},</if>
            <if test="weekType != null">#{weekType},</if>
            <if test="hasMorePurchases != null and hasMorePurchases != ''">#{hasMorePurchases},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateFx67llLotteryLog" parameterType="Fx67llLotteryLog">
        update fx67ll_lottery_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="dateCode != null and dateCode != ''">date_code = #{dateCode},</if>
            <if test="recordNumber != null and recordNumber != ''">record_number = #{recordNumber},</if>
            <if test="chaseNumber != null">chase_number = #{chaseNumber},</if>
            <if test="winningNumber != null">winning_number = #{winningNumber},</if>
            <if test="isWin != null">is_win = #{isWin},</if>
            <if test="winningPrice != null">winning_price = #{winningPrice},</if>
            <if test="numberType != null">number_type = #{numberType},</if>
            <if test="weekType != null">week_type = #{weekType},</if>
            <if test="hasMorePurchases != null and hasMorePurchases != ''">has_more_purchases = #{hasMorePurchases},
            </if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where lottery_id = #{lotteryId}
    </update>

    <delete id="deleteFx67llLotteryLogByLotteryId" parameterType="Long">
        delete
        from fx67ll_lottery_log
        where lottery_id = #{lotteryId}
    </delete>

    <delete id="deleteFx67llLotteryLogByLotteryIds" parameterType="String">
        delete from fx67ll_lottery_log where lottery_id in
        <foreach item="lotteryId" collection="array" open="(" separator="," close=")">
            #{lotteryId}
        </foreach>
    </delete>

    <resultMap type="Fx67llLotteryTotalReward" id="Fx67llLotteryTotalRewardResult">
        <result property="lotteryType" column="lottery_type"/>
        <result property="totalTickets" column="total_tickets"/>
        <result property="winningTickets" column="winning_tickets"/>
        <result property="totalWinningAmount" column="total_winning_amount"/>
    </resultMap>

    <select id="selectFx67llLotteryTotalReward" parameterType="Fx67llPunchLog" resultMap="Fx67llLotteryTotalRewardResult">
        SELECT
        CASE
        WHEN number_type = 1 THEN '大乐透'
        WHEN number_type = 2 THEN '双色球'
        ELSE '总计'
        END AS lottery_type,
        COUNT(*) AS total_tickets,
        SUM(CASE WHEN is_win = 'Y' THEN 1 ELSE 0 END) AS winning_tickets,
        SUM(CASE WHEN is_win = 'Y' THEN CAST(winning_price AS SIGNED) ELSE 0 END) AS total_winning_amount
        FROM
        fx67ll_lottery_log
        <where>
            user_id = #{userId}
            <if test="beginCreateTime != null and beginCreateTime != '' and endCreateTime != null and endCreateTime != ''">
                and create_time between #{beginCreateTime} and #{endCreateTime}
            </if>
        </where>
        GROUP BY
        number_type
        WITH ROLLUP
    </select>
</mapper>