<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fx67ll.secret.mapper.Fx67llSecretKeyMapper">

    <resultMap type="Fx67llSecretKey" id="Fx67llSecretKeyResult">
        <result property="secretId" column="secret_id"/>
        <result property="secretKey" column="secret_key"/>
        <result property="secretValue" column="secret_value"/>
    </resultMap>

    <sql id="selectFx67llSecretKeyVo">
        select secret_id, secret_key, secret_value
        from fx67ll_secret_key
    </sql>

    <select id="selectFx67llSecretKeyList" parameterType="Fx67llSecretKey" resultMap="Fx67llSecretKeyResult">
        <include refid="selectFx67llSecretKeyVo"/>
        <where>
            <if test="secretKey != null  and secretKey != ''">and secret_key like concat('%', #{secretKey}, '%')</if>
        </where>
    </select>

    <select id="selectFx67llSecretKeyListForNull" resultMap="Fx67llSecretKeyResult">
        <include refid="selectFx67llSecretKeyVo"/>
        where 1 = 0
    </select>

    <select id="selectFx67llSecretKeyBySecretId" parameterType="Long" resultMap="Fx67llSecretKeyResult">
        <include refid="selectFx67llSecretKeyVo"/>
        where secret_id = #{secretId}
    </select>

    <insert id="insertFx67llSecretKey" parameterType="Fx67llSecretKey" useGeneratedKeys="true" keyProperty="secretId">
        insert into fx67ll_secret_key
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="secretKey != null and secretKey != ''">secret_key,</if>
            <if test="secretValue != null and secretValue != ''">secret_value,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="secretKey != null and secretKey != ''">#{secretKey},</if>
            <if test="secretValue != null and secretValue != ''">#{secretValue},</if>
        </trim>
    </insert>

    <update id="updateFx67llSecretKey" parameterType="Fx67llSecretKey">
        update fx67ll_secret_key
        <trim prefix="SET" suffixOverrides=",">
            <if test="secretKey != null and secretKey != ''">secret_key = #{secretKey},</if>
            <if test="secretValue != null and secretValue != ''">secret_value = #{secretValue},</if>
        </trim>
        where secret_id = #{secretId}
    </update>

    <delete id="deleteFx67llSecretKeyBySecretId" parameterType="Long">
        delete
        from fx67ll_secret_key
        where secret_id = #{secretId}
    </delete>

    <delete id="deleteFx67llSecretKeyBySecretIds" parameterType="String">
        delete from fx67ll_secret_key where secret_id in
        <foreach item="secretId" collection="array" open="(" separator="," close=")">
            #{secretId}
        </foreach>
    </delete>
</mapper>