<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fx67ll.dortmund.mapper.Fx67llDortmundBasicMatchMapper">

    <resultMap type="Fx67llDortmundBasicMatch" id="Fx67llDortmundBasicMatchResult">
        <result property="matchId" column="match_id"/>
        <result property="seasonId" column="season_id"/>
        <result property="seasonName" column="season_name"/>
        <result property="homeTeamId" column="home_team_id"/>
        <result property="homeTeamName" column="home_team_name"/>
        <result property="awayTeamId" column="away_team_id"/>
        <result property="awayTeamName" column="away_team_name"/>
        <result property="matchTime" column="match_time"/>
        <result property="matchVenue" column="match_venue"/>
        <result property="matchStatus" column="match_status"/>
        <result property="analysisCount" column="analysis_count"/>
        <result property="matchResult" column="match_result"/>
        <result property="matchRemark" column="match_remark"/>
        <result property="userId" column="user_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectFx67llDortmundBasicMatchWithJoinVo">
        select m.match_id,
               m.season_id,
               s.season_name as season_name,
               m.home_team_id,
               ht.team_name  as home_team_name,
               m.away_team_id,
               at.team_name  as away_team_name,
               m.match_time,
               m.match_venue,
               m.match_status,
               m.analysis_count,
               m.match_result,
               m.match_remark,
               m.user_id,
               m.create_by,
               m.create_time,
               m.update_by,
               m.update_time,
               m.del_flag
        from fx67ll_dortmund_match m
                 left join fx67ll_dortmund_season s on m.season_id = s.season_id
                 left join fx67ll_dortmund_team ht on m.home_team_id = ht.team_id
                 left join fx67ll_dortmund_team at
        on m.away_team_id = at.team_id
    </sql>

    <select id="selectFx67llDortmundBasicMatchList" parameterType="Fx67llDortmundBasicMatch"
            resultMap="Fx67llDortmundBasicMatchResult">
        <include refid="selectFx67llDortmundBasicMatchWithJoinVo"/>
        <where>
            <if test="seasonId != null ">and m.season_id = #{seasonId}</if>
            <if test="homeTeamId != null ">and m.home_team_id = #{homeTeamId}</if>
            <if test="awayTeamId != null ">and m.away_team_id = #{awayTeamId}</if>
            <if test="matchTime != null ">and m.match_time = #{matchTime}</if>
            <if test="matchVenue != null  and matchVenue != ''">and m.match_venue = #{matchVenue}</if>
            <if test="matchStatus != null  and matchStatus != ''">and m.match_status = #{matchStatus}</if>
            <if test="analysisCount != null ">and m.analysis_count = #{analysisCount}</if>
            <if test="matchResult != null  and matchResult != ''"> and match_result = #{matchResult}</if>
            <if test="matchRemark != null  and matchRemark != ''"> and match_remark = #{matchRemark}</if>
            <if test="delFlag != null  and delFlag != ''">and m.del_flag = #{delFlag}</if>
            <if test="userId != null ">and m.user_id = #{userId}</if>
            <if test="createBy != null  and createBy != ''">and m.create_by like concat('%', #{createBy}, '%')</if>
            <if test="beginCreateTime != null and endCreateTime != ''">and m.create_time between #{beginCreateTime} and
                #{endCreateTime}
            </if>
            <if test="updateBy != null  and updateBy != ''">and m.update_by like concat('%', #{updateBy}, '%')</if>
            <if test="beginUpdateTime != null and endUpdateTime != ''">and m.update_time between #{beginUpdateTime} and
                #{endUpdateTime}
            </if>
            <if test="beginMatchTime != null and endMatchTime != ''">and m.match_time between #{beginMatchTime} and
                #{endMatchTime}
            </if>
        </where>
        order by STR_TO_DATE(m.create_time, "%Y-%m-%d %H:%i:%s") desc
    </select>

    <select id="selectFx67llDortmundBasicMatchByMatchId" parameterType="Long"
            resultMap="Fx67llDortmundBasicMatchResult">
        <include refid="selectFx67llDortmundBasicMatchWithJoinVo"/>
        where m.match_id = #{matchId}
    </select>

    <insert id="insertFx67llDortmundBasicMatch" parameterType="Fx67llDortmundBasicMatch" useGeneratedKeys="true"
            keyProperty="matchId">
        insert into fx67ll_dortmund_match
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="seasonId != null">season_id,</if>
            <if test="homeTeamId != null">home_team_id,</if>
            <if test="awayTeamId != null">away_team_id,</if>
            <if test="matchTime != null">match_time,</if>
            <if test="matchVenue != null">match_venue,</if>
            <if test="matchStatus != null">match_status,</if>
            <if test="analysisCount != null">analysis_count,</if>
            <if test="matchResult != null">match_result,</if>
            <if test="matchRemark != null">match_remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="userId != null">user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="seasonId != null">#{seasonId},</if>
            <if test="homeTeamId != null">#{homeTeamId},</if>
            <if test="awayTeamId != null">#{awayTeamId},</if>
            <if test="matchTime != null">#{matchTime},</if>
            <if test="matchVenue != null">#{matchVenue},</if>
            <if test="matchStatus != null">#{matchStatus},</if>
            <if test="analysisCount != null">#{analysisCount},</if>
            <if test="matchResult != null">#{matchResult},</if>
            <if test="matchRemark != null">#{matchRemark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="userId != null">#{userId},</if>
        </trim>
    </insert>

    <update id="updateFx67llDortmundBasicMatch" parameterType="Fx67llDortmundBasicMatch">
        update fx67ll_dortmund_match
        <trim prefix="SET" suffixOverrides=",">
            <if test="seasonId != null">season_id = #{seasonId},</if>
            <if test="homeTeamId != null">home_team_id = #{homeTeamId},</if>
            <if test="awayTeamId != null">away_team_id = #{awayTeamId},</if>
            <if test="matchTime != null">match_time = #{matchTime},</if>
            <if test="matchVenue != null">match_venue = #{matchVenue},</if>
            <if test="matchStatus != null">match_status = #{matchStatus},</if>
            <if test="analysisCount != null">analysis_count = #{analysisCount},</if>
            <if test="matchResult != null">match_result = #{matchResult},</if>
            <if test="matchRemark != null">match_remark = #{matchRemark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where match_id = #{matchId}
    </update>

    <delete id="deleteFx67llDortmundBasicMatchByMatchId" parameterType="Long">
        delete
        from fx67ll_dortmund_match
        where match_id = #{matchId}
    </delete>

    <delete id="deleteFx67llDortmundBasicMatchByMatchIds" parameterType="String">
        delete from fx67ll_dortmund_match where match_id in
        <foreach item="matchId" collection="array" open="(" separator="," close=")">
            #{matchId}
        </foreach>
    </delete>
</mapper>