<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fx67ll.dortmund.mapper.Fx67llDortmundMatchAnalysisMapper">

    <resultMap type="Fx67llDortmundMatchAnalysis" id="Fx67llDortmundMatchAnalysisResult">
        <result property="analysisId" column="analysis_id"/>
        <result property="matchId" column="match_id"/>
        <result property="homeTeamName" column="home_team_name"/>
        <result property="awayTeamName" column="away_team_name"/>
        <result property="promptId" column="prompt_id"/>
        <result property="promptName" column="prompt_name"/>
        <result property="modelId" column="model_id"/>
        <result property="modelName" column="model_name"/>
        <result property="requestLogCode" column="request_log_code"/>
        <result property="analysisType" column="analysis_type"/>
        <result property="rawPrompt" column="raw_prompt"/>
        <result property="rawAiResponse" column="raw_ai_response"/>
        <result property="analysisRemark" column="analysis_remark"/>
        <result property="userId" column="user_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectFx67llDortmundMatchAnalysisVo">
        SELECT analysis.analysis_id,
               analysis.match_id,
               ht.team_name_short AS home_team_name,
               at.team_name_short AS away_team_name,
               analysis.prompt_id,
               pt.prompt_name,
               analysis.model_id,
               pm.model_name,
               analysis.request_log_code,
               analysis.analysis_type,
               analysis.raw_prompt,
               analysis.raw_ai_response,
               analysis.analysis_remark,
               analysis.user_id,
               analysis.create_by,
               analysis.create_time,
               analysis.update_by,
               analysis.update_time,
               analysis.del_flag
        FROM fx67ll_dortmund_match_analysis analysis
                 LEFT JOIN fx67ll_dortmund_match m ON analysis.match_id = m.match_id
                 LEFT JOIN fx67ll_dortmund_team ht ON m.home_team_id = ht.team_id
                 LEFT JOIN fx67ll_dortmund_team at ON m.away_team_id = at.team_id
            LEFT JOIN fx67ll_ai_prompt_template pt ON analysis.prompt_id = pt.prompt_id
            LEFT JOIN fx67ll_ai_prompt_model pm ON analysis.model_id = pm.model_id
    </sql>

    <select id="selectFx67llDortmundMatchAnalysisList" parameterType="Fx67llDortmundMatchAnalysis"
            resultMap="Fx67llDortmundMatchAnalysisResult">
        <include refid="selectFx67llDortmundMatchAnalysisVo"/>
        <where>
            <if test="analysisId != null ">and analysis.analysis_id = #{analysisId}</if>
            <if test="matchId != null ">and analysis.match_id = #{matchId}</if>
            <if test="promptId != null ">and analysis.prompt_id = #{promptId}</if>
            <if test="modelId != null ">and analysis.model_id = #{modelId}</if>
            <if test="requestLogCode != null  and requestLogCode != ''">and analysis.request_log_code = #{requestLogCode}</if>
            <if test="analysisType != null  and analysisType != ''">and analysis.analysis_type = #{analysisType}</if>
            <if test="rawPrompt != null  and rawPrompt != ''">and analysis.raw_prompt = #{rawPrompt}</if>
            <if test="rawAiResponse != null  and rawAiResponse != ''">and analysis.raw_ai_response = #{rawAiResponse}</if>
            <if test="analysisRemark != null  and analysisRemark != ''">and analysis.analysis_remark = #{analysisRemark}</if>
            <if test="delFlag != null  and delFlag != ''">and analysis.del_flag = #{delFlag}</if>
            <if test="userId != null ">and analysis.user_id = #{userId}</if>
            <if test="createBy != null  and createBy != ''">and analysis.create_by like concat('%',
                #{createBy}, '%')
            </if>
            <if test="beginCreateTime != null and endCreateTime != ''">and analysis.create_time between #{beginCreateTime} and
                #{endCreateTime}
            </if>
            <if test="updateBy != null  and updateBy != ''">and analysis.update_by like concat('%',
                #{updateBy}, '%')
            </if>
            <if test="beginUpdateTime != null and endUpdateTime != ''">and analysis.update_time between #{beginUpdateTime} and
                #{endUpdateTime}
            </if>
        </where>
        order by STR_TO_DATE(analysis.create_time, "%Y-%m-%d %H:%i:%s") desc
    </select>

    <select id="selectFx67llDortmundMatchAnalysisByAnalysisId" parameterType="Long"
            resultMap="Fx67llDortmundMatchAnalysisResult">
        <include refid="selectFx67llDortmundMatchAnalysisVo"/>
        where analysis.analysis_id = #{analysisId}
    </select>

    <insert id="insertFx67llDortmundMatchAnalysis" parameterType="Fx67llDortmundMatchAnalysis" useGeneratedKeys="true"
            keyProperty="analysisId">
        insert into fx67ll_dortmund_match_analysis
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="matchId != null">match_id,</if>
            <if test="promptId != null">prompt_id,</if>
            <if test="modelId != null">model_id,</if>
            <if test="requestLogCode != null">request_log_code,</if>
            <if test="analysisType != null">analysis_type,</if>
            <if test="rawPrompt != null and rawPrompt != ''">raw_prompt,</if>
            <if test="rawAiResponse != null and rawAiResponse != ''">raw_ai_response,</if>
            <if test="analysisRemark != null">analysis_remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="userId != null">user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="matchId != null">#{matchId},</if>
            <if test="promptId != null">#{promptId},</if>
            <if test="modelId != null">#{modelId},</if>
            <if test="requestLogCode != null">#{requestLogCode},</if>
            <if test="analysisType != null">#{analysisType},</if>
            <if test="rawPrompt != null and rawPrompt != ''">#{rawPrompt},</if>
            <if test="rawAiResponse != null and rawAiResponse != ''">#{rawAiResponse},</if>
            <if test="analysisRemark != null">#{analysisRemark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="userId != null">#{userId},</if>
        </trim>
    </insert>

    <update id="updateFx67llDortmundMatchAnalysis" parameterType="Fx67llDortmundMatchAnalysis">
        update fx67ll_dortmund_match_analysis
        <trim prefix="SET" suffixOverrides=",">
            <if test="matchId != null">match_id = #{matchId},</if>
            <if test="promptId != null">prompt_id = #{promptId},</if>
            <if test="modelId != null">model_id = #{modelId},</if>
            <if test="requestLogCode != null">request_log_code = #{requestLogCode},</if>
            <if test="analysisType != null">analysis_type = #{analysisType},</if>
            <if test="rawPrompt != null and rawPrompt != ''">raw_prompt = #{rawPrompt},</if>
            <if test="rawAiResponse != null and rawAiResponse != ''">raw_ai_response = #{rawAiResponse},</if>
            <if test="analysisRemark != null">analysis_remark = #{analysisRemark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where analysis_id = #{analysisId}
    </update>

    <delete id="deleteFx67llDortmundMatchAnalysisByAnalysisId" parameterType="Long">
        delete
        from fx67ll_dortmund_match_analysis
        where analysis_id = #{analysisId}
    </delete>

    <delete id="deleteFx67llDortmundMatchAnalysisByAnalysisIds" parameterType="String">
        delete from fx67ll_dortmund_match_analysis where analysis_id in
        <foreach item="analysisId" collection="array" open="(" separator="," close=")">
            #{analysisId}
        </foreach>
    </delete>
</mapper>