<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fx67ll.ai.mapper.Fx67llAiRequestLimitRuleMapper">

    <resultMap type="Fx67llAiRequestLimitRule" id="Fx67llAiRequestLimitRuleResult">
        <result property="limitRuleId" column="limit_rule_id"/>
        <result property="limitRuleDimension" column="limit_rule_dimension"/>
        <result property="limitRuleTargetId" column="limit_rule_target_id"/>
        <result property="limitRuleTargetName" column="limit_rule_target_name"/>
        <result property="limitRuleType" column="limit_rule_type"/>
        <result property="flowControlMode" column="flow_control_mode"/>
        <result property="flowControlEffect" column="flow_control_effect"/>
        <result property="flowRuleType" column="flow_rule_type"/>
        <result property="flowThreshold" column="flow_threshold"/>
        <result property="circuitStrategy" column="circuit_strategy"/>
        <result property="circuitThreshold" column="circuit_threshold"/>
        <result property="circuitGrade" column="circuit_grade"/>
        <result property="circuitWindow" column="circuit_window"/>
        <result property="circuitTimeout" column="circuit_timeout"/>
        <result property="limitRuleStatus" column="limit_rule_status"/>
        <result property="limitRuleRemark" column="limit_rule_remark"/>
        <result property="userId" column="user_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectFx67llAiRequestLimitRuleVo">
        SELECT
            rlr.limit_rule_id,
            rlr.limit_rule_dimension,
            rlr.limit_rule_target_id,
            CASE
                WHEN rlr.limit_rule_dimension = '1' THEN t.prompt_name    -- 1-模板
                WHEN rlr.limit_rule_dimension = '2' THEN s.scene_name     -- 2-场景
                WHEN rlr.limit_rule_dimension = '3' THEN g.group_name     -- 3-分组
                WHEN rlr.limit_rule_dimension = '4' THEN m.model_name     -- 4-模型
                ELSE NULL
                END AS limit_rule_target_name,
            rlr.limit_rule_type,
            rlr.flow_control_mode,
            rlr.flow_control_effect,
            rlr.flow_rule_type,
            rlr.flow_threshold,
            rlr.circuit_strategy,
            rlr.circuit_threshold,
            rlr.circuit_grade,
            rlr.circuit_window,
            rlr.circuit_timeout,
            rlr.limit_rule_status,
            rlr.limit_rule_remark,
            rlr.user_id,
            rlr.create_by,
            rlr.create_time,
            rlr.update_by,
            rlr.update_time,
            rlr.del_flag
        FROM fx67ll_ai_request_limit_rule rlr
                 LEFT JOIN fx67ll_ai_prompt_template t
                           ON rlr.limit_rule_dimension = '1' AND rlr.limit_rule_target_id = t.prompt_id
                 LEFT JOIN fx67ll_ai_prompt_scene s
                           ON rlr.limit_rule_dimension = '2' AND rlr.limit_rule_target_id = s.scene_id
                 LEFT JOIN fx67ll_ai_prompt_group g
                           ON rlr.limit_rule_dimension = '3' AND rlr.limit_rule_target_id = g.group_id
                 LEFT JOIN fx67ll_ai_prompt_model m
                           ON rlr.limit_rule_dimension = '4' AND rlr.limit_rule_target_id = m.model_id
    </sql>

    <select id="selectFx67llAiRequestLimitRuleList" parameterType="Fx67llAiRequestLimitRule"
            resultMap="Fx67llAiRequestLimitRuleResult">
        <include refid="selectFx67llAiRequestLimitRuleVo"/>
        <where>
            <if test="limitRuleId != null ">and rlr.limit_rule_id = #{limitRuleId}</if>
            <if test="limitRuleDimension != null  and limitRuleDimension != ''">and rlr.limit_rule_dimension =
                #{limitRuleDimension}
            </if>
            <if test="limitRuleTargetId != null ">and rlr.limit_rule_target_id = #{limitRuleTargetId}</if>
            <if test="limitRuleType != null  and limitRuleType != ''">and rlr.limit_rule_type = #{limitRuleType}</if>
            <if test="flowControlMode != null  and flowControlMode != ''">and rlr.flow_control_mode = #{flowControlMode}
            </if>
            <if test="flowControlEffect != null  and flowControlEffect != ''">and rlr.flow_control_effect =
                #{flowControlEffect}
            </if>
            <if test="flowRuleType != null  and flowRuleType != ''">and rlr.flow_rule_type = #{flowRuleType}</if>
            <if test="flowThreshold != null ">and rlr.flow_threshold = #{flowThreshold}</if>
            <if test="circuitStrategy != null  and circuitStrategy != ''">and rlr.circuit_strategy = #{circuitStrategy}</if>
            <if test="circuitThreshold != null ">and rlr.circuit_threshold = #{circuitThreshold}</if>
            <if test="circuitGrade != null ">and rlr.circuit_grade = #{circuitGrade}</if>
            <if test="circuitWindow != null ">and rlr.circuit_window = #{circuitWindow}</if>
            <if test="circuitTimeout != null ">and rlr.circuit_timeout = #{circuitTimeout}</if>
            <if test="limitRuleStatus != null  and limitRuleStatus != ''">and rlr.limit_rule_status = #{limitRuleStatus}
            </if>
            <if test="limitRuleRemark != null  and limitRuleRemark != ''">and rlr.limit_rule_remark = #{limitRuleRemark}
            </if>
            <if test="delFlag != null  and delFlag != ''">and rlr.del_flag = #{delFlag}</if>
            <if test="userId != null ">and rlr.user_id = #{userId}</if>
            <if test="createBy != null  and createBy != ''">and rlr.create_by like concat('%',
                #{createBy}, '%')
            </if>
            <if test="beginCreateTime != null and endCreateTime != ''">and rlr.create_time between #{beginCreateTime} and
                #{endCreateTime}
            </if>
            <if test="updateBy != null  and updateBy != ''">and rlr.update_by like concat('%',
                #{updateBy}, '%')
            </if>
            <if test="beginUpdateTime != null and endUpdateTime != ''">and rlr.update_time between #{beginUpdateTime} and
                #{endUpdateTime}
            </if>
        </where>
        order by STR_TO_DATE(rlr.create_time, "%Y-%m-%d %H:%i:%s") desc
    </select>

    <select id="selectFx67llAiRequestLimitRuleByLimitRuleId" parameterType="Long"
            resultMap="Fx67llAiRequestLimitRuleResult">
        <include refid="selectFx67llAiRequestLimitRuleVo"/>
        where limit_rule_id = #{limitRuleId}
    </select>

    <insert id="insertFx67llAiRequestLimitRule" parameterType="Fx67llAiRequestLimitRule" useGeneratedKeys="true"
            keyProperty="limitRuleId">
        insert into fx67ll_ai_request_limit_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="limitRuleDimension != null and limitRuleDimension != ''">limit_rule_dimension,</if>
            <if test="limitRuleTargetId != null">limit_rule_target_id,</if>
            <if test="limitRuleType != null and limitRuleType != ''">limit_rule_type,</if>
            <if test="flowControlMode != null">flow_control_mode,</if>
            <if test="flowControlEffect != null">flow_control_effect,</if>
            <if test="flowRuleType != null">flow_rule_type,</if>
            <if test="flowThreshold != null">flow_threshold,</if>
            <if test="circuitStrategy != null">circuit_strategy,</if>
            <if test="circuitThreshold != null">circuit_threshold,</if>
            <if test="circuitGrade != null">circuit_grade,</if>
            <if test="circuitWindow != null">circuit_window,</if>
            <if test="circuitTimeout != null">circuit_timeout,</if>
            <if test="limitRuleStatus != null">limit_rule_status,</if>
            <if test="limitRuleRemark != null">limit_rule_remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="userId != null">user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="limitRuleDimension != null and limitRuleDimension != ''">#{limitRuleDimension},</if>
            <if test="limitRuleTargetId != null">#{limitRuleTargetId},</if>
            <if test="limitRuleType != null and limitRuleType != ''">#{limitRuleType},</if>
            <if test="flowControlMode != null">#{flowControlMode},</if>
            <if test="flowControlEffect != null">#{flowControlEffect},</if>
            <if test="flowRuleType != null">#{flowRuleType},</if>
            <if test="flowThreshold != null">#{flowThreshold},</if>
            <if test="circuitStrategy != null">#{circuitStrategy},</if>
            <if test="circuitThreshold != null">#{circuitThreshold},</if>
            <if test="circuitGrade != null">#{circuitGrade},</if>
            <if test="circuitWindow != null">#{circuitWindow},</if>
            <if test="circuitTimeout != null">#{circuitTimeout},</if>
            <if test="limitRuleStatus != null">#{limitRuleStatus},</if>
            <if test="limitRuleRemark != null">#{limitRuleRemark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="userId != null">#{userId},</if>
        </trim>
    </insert>

    <update id="updateFx67llAiRequestLimitRule" parameterType="Fx67llAiRequestLimitRule">
        update fx67ll_ai_request_limit_rule
        <trim prefix="SET" suffixOverrides=",">
            <if test="limitRuleDimension != null and limitRuleDimension != ''">limit_rule_dimension =
                #{limitRuleDimension},
            </if>
            <if test="limitRuleTargetId != null">limit_rule_target_id = #{limitRuleTargetId},</if>
            <if test="limitRuleType != null and limitRuleType != ''">limit_rule_type = #{limitRuleType},</if>
            <if test="flowControlMode != null">flow_control_mode = #{flowControlMode},</if>
            <if test="flowControlEffect != null">flow_control_effect = #{flowControlEffect},</if>
            <if test="flowRuleType != null">flow_rule_type = #{flowRuleType},</if>
            <if test="flowThreshold != null">flow_threshold = #{flowThreshold},</if>
            <if test="circuitStrategy != null">circuit_strategy = #{circuitStrategy},</if>
            <if test="circuitThreshold != null">circuit_threshold = #{circuitThreshold},</if>
            <if test="circuitGrade != null">circuit_grade = #{circuitGrade},</if>
            <if test="circuitWindow != null">circuit_window = #{circuitWindow},</if>
            <if test="circuitTimeout != null">circuit_timeout = #{circuitTimeout},</if>
            <if test="limitRuleStatus != null">limit_rule_status = #{limitRuleStatus},</if>
            <if test="limitRuleRemark != null">limit_rule_remark = #{limitRuleRemark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where limit_rule_id = #{limitRuleId}
    </update>

    <delete id="deleteFx67llAiRequestLimitRuleByLimitRuleId" parameterType="Long">
        delete
        from fx67ll_ai_request_limit_rule
        where limit_rule_id = #{limitRuleId}
    </delete>

    <delete id="deleteFx67llAiRequestLimitRuleByLimitRuleIds" parameterType="String">
        delete from fx67ll_ai_request_limit_rule where limit_rule_id in
        <foreach item="limitRuleId" collection="array" open="(" separator="," close=")">
            #{limitRuleId}
        </foreach>
    </delete>
</mapper>