<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fx67ll.punch.mapper.Fx67llPunchLogMapper">

    <resultMap type="Fx67llPunchLog" id="Fx67llPunchLogResult">
        <result property="punchId" column="punch_id"/>
        <result property="punchType" column="punch_type"/>
        <result property="punchRemark" column="punch_remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="userId" column="user_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectFx67llPunchLogVo">
        select punch_id,
               punch_type,
               punch_remark,
               del_flag,
               user_id,
               create_by,
               create_time,
               update_by,
               update_time
        from fx67ll_punch_log
    </sql>

    <select id="selectFx67llPunchLogList" parameterType="Fx67llPunchLog" resultMap="Fx67llPunchLogResult">
        <include refid="selectFx67llPunchLogVo"/>
        <where>
            <if test="punchType != null  and punchType != ''">and punch_type = #{punchType}</if>
            <if test="delFlag != null  and delFlag != ''">and del_flag = #{delFlag}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="createBy != null  and createBy != ''">and create_by = #{createBy}</if>
            <if test="beginCreateTime != null and endCreateTime != ''">and create_time between #{beginCreateTime} and
                #{endCreateTime}
            </if>
            <if test="updateBy != null  and updateBy != ''">and update_by = #{updateBy}</if>
            <if test="beginUpdateTime != null and endUpdateTime != ''">and update_time between #{beginUpdateTime} and
                #{endUpdateTime}
            </if>
        </where>
        order by STR_TO_DATE(update_time, "%Y-%m-%d %H:%i:%s") desc
    </select>

    <select id="selectFx67llPunchLogByPunchId" parameterType="Long" resultMap="Fx67llPunchLogResult">
        <include refid="selectFx67llPunchLogVo"/>
        where punch_id = #{punchId}
    </select>

    <resultMap type="Fx67llPunchLogTotal" id="Fx67llPunchLogTotalResult">
        <result property="punchUser" column="punch_user"/>
        <result property="punchMonth" column="punch_month"/>
        <result property="totalWorkHours" column="total_work_hours"/>
        <result property="totalWorkMinutes" column="total_work_minutes"/>
        <result property="totalWorkSeconds" column="total_work_seconds"/>
        <result property="totalPunchDays" column="total_punch_days"/>
        <result property="totalWorkDays" column="total_work_days"/>
        <result property="workHoursPerDay" column="work_hours_per_day"/>
    </resultMap>

    <select id="selectFx67llPunchLogTotalTime" parameterType="Fx67llPunchLog" resultMap="Fx67llPunchLogTotalResult">
        SELECT fx67ll_punch_log_result.punch_user,
        fx67ll_punch_log_result.punch_month,
        SUM(TIME_TO_SEC(TIMEDIFF(fx67ll_punch_log_result.max_punch_time,
        fx67ll_punch_log_result.min_punch_time))) / 3600 AS total_work_hours,
        SUM(TIMESTAMPDIFF(MINUTE, fx67ll_punch_log_result.min_punch_time,
        fx67ll_punch_log_result.max_punch_time)) AS total_work_minutes,
        SUM(TIME_TO_SEC(TIMEDIFF(fx67ll_punch_log_result.max_punch_time,
        fx67ll_punch_log_result.min_punch_time))) AS total_work_seconds,
        COUNT(*) AS total_punch_days,
        COUNT(max_punch_time) AS total_work_days,
        SUM(TIME_TO_SEC(TIMEDIFF(fx67ll_punch_log_result.max_punch_time,
        fx67ll_punch_log_result.min_punch_time))) / 3600 /
        COUNT(max_punch_time) AS work_hours_per_day
        FROM (
        SELECT update_by AS punch_user,
        DATE_FORMAT(update_time, '%Y-%m') AS punch_month,
        DATE (update_time) AS punch_day,
        IF(MAX(update_time) != MIN(update_time),
        MAX(update_time),
        NULL) AS max_punch_time,
        IF(MAX(update_time) != MIN(update_time),
        MIN(update_time),
        NULL) AS min_punch_time
        FROM
        fx67ll_punch_log
        <where>
            <if test="updateBy != null  and updateBy != ''">and update_by = #{updateBy}</if>
        </where>
        GROUP BY
        punch_user,
        punch_month,
        punch_day
        )
        AS fx67ll_punch_log_result
        GROUP BY
        punch_user;
    </select>

    <resultMap type="Fx67llPunchLogTotal" id="Fx67llPunchLostLogResult">
        <result property="punchUser" column="punch_user"/>
        <result property="punchMonth" column="punch_month"/>
        <result property="punchDay" column="punch_day"/>
        <result property="lostPunchType" column="lost_punch_type"/>
    </resultMap>

    <select id="selectFx67llPunchLostLog" parameterType="Fx67llPunchLog" resultMap="Fx67llPunchLostLogResult">
        SELECT fx67ll_punch_log_result.punch_user AS punch_user,
        fx67ll_punch_log_result.punch_month AS punch_month,
        fx67ll_punch_log_result.punch_day AS punch_day,
        IF(fx67ll_punch_log_result.punch_type = '2',
        '上班缺卡',
        '下班缺卡') AS lost_punch_type
        FROM (
        SELECT punch_type AS punch_type,
        update_by AS punch_user,
        DATE_FORMAT(update_time, '%Y-%m') AS punch_month,
        DATE (update_time) AS punch_day,
        IF(punch_type = '2',
        MAX(update_time),
        MIN(update_time)) AS punch_time FROM
        fx67ll_punch_log
        <where>
            <if test="updateBy != null  and updateBy != ''">and update_by = #{updateBy}</if>
            <if test="punchMonth != null  and punchMonth != ''">and punch_month = #{punchMonth}</if>
        </where>
        GROUP BY
        punch_type,
        punch_user,
        punch_month,
        punch_day
        )
        AS fx67ll_punch_log_result
        GROUP BY
        punch_user,
        punch_day
        HAVING
        COUNT(CASE WHEN punch_type = '1' THEN 1 END) = 0
        OR
        COUNT(CASE WHEN punch_type = '2' THEN 1 END) = 0
    </select>

    <insert id="insertFx67llPunchLog" parameterType="Fx67llPunchLog" useGeneratedKeys="true" keyProperty="punchId">
        insert into fx67ll_punch_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="punchType != null and punchType != ''">punch_type,</if>
            <if test="punchRemark != null">punch_remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="userId != null">user_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="punchType != null and punchType != ''">#{punchType},</if>
            <if test="punchRemark != null">#{punchRemark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateFx67llPunchLog" parameterType="Fx67llPunchLog">
        update fx67ll_punch_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="punchType != null and punchType != ''">punch_type = #{punchType},</if>
            <if test="punchRemark != null">punch_remark = #{punchRemark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where punch_id = #{punchId}
    </update>

    <delete id="deleteFx67llPunchLogByPunchId" parameterType="Long">
        delete
        from fx67ll_punch_log
        where punch_id = #{punchId}
    </delete>

    <delete id="deleteFx67llPunchLogByPunchIds" parameterType="String">
        delete from fx67ll_punch_log where punch_id in
        <foreach item="punchId" collection="array" open="(" separator="," close=")">
            #{punchId}
        </foreach>
    </delete>
</mapper>